.popup {
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
}


