.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  width: 24px;
  height: 24px;
  background-color: transparent;
  left: 662px;
  top: 196px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
