 .popup__container {
   position: relative;
   margin: 0 auto;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   background-color: #fff;
   max-width: 430px;
   height: 340px;
 }

 @media screen and (min-width: 320px) and (max-width: 580px) {
   .popup__container {
     max-width: 282px;
   }
 }
