.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  padding-top: 38px;
  padding: 39px 0 45px;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .profile {
    flex-direction: column;
    padding: 0 0 32px;
  }
}


