.popup__button {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-bottom: 36px;
  min-height: 50px;
  outline: none;
  width: 100%;
  margin-top: 48px;
  cursor: pointer;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__button {
    width: 238px;
    min-height: 46px;
    margin: 45px 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
