.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 38px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 25px;
    padding-bottom: 27px;
    padding-left: 27px;
  }
}
