.header {
  margin: 45px auto 0;
  max-width: 880px;
  min-height: 74px;
  /* opacity: 0.7; */
  border-bottom: 1px solid #545454;
}


@media screen and (max-width: 1023px) {
  .header {
    margin: 28px auto 38px;
    min-height: 31px;
  }
}


