.profile__add-button {
  background-image: url(../../../images/vector.svg);
  background-color: transparent;
  width: 150px;
  height: 50px;
  /* left: 930px;
  top: 194px; */
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
}

.profile__add-button:hover {
  opacity: .5;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
.profile__add-button {
    max-width: 282px;
    width: 100%;
}
}
