.profile__caption {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
