.popup__close-button {
  position: absolute;
  border: none;
  background-image: url(../../../images/close-icon.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  left: 438px;
  bottom: 338px;
  cursor: pointer;
}
