.popup__close-button {
  position: absolute;
  border: none;
  background-image: url(../../../images/close-icon.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  left: 438px;
  bottom: 337px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    left: 262px;
    bottom: 337px;
  }
}
