.input__text_type_name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline-color: transparent;
  width: 358px;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .input__text_type_name {
    width: 238px;
    margin-left: 22px;
  }
}
