@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__caption/profile__caption.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_edit/profile__button_edit.css);
@import url(../blocks/profile/__button/_add/profile__button_add.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__cover/profile__cover.css);

@import url(../blocks/pictures/pictures.css);
@import url(../blocks/pictures/__item/pictures__item.css);
@import url(../blocks/pictures/__list/pictures__list.css);
@import url(../blocks/pictures/__back/pictures__back.css);
@import url(../blocks/pictures/__title/pictures__title.css);
@import url(../blocks/pictures/__like/pictures__like.css);
@import url(../blocks/pictures/__cover/pictures__cover.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copiryght/footer__copyright.css);
