@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar-cover/profile__avatar-cover.css);
@import url(../blocks/profile/__caption/profile__caption.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);

@import url(../blocks/pictures/pictures.css);
@import url(../blocks/pictures/__item/pictures__item.css);
@import url(../blocks/pictures/__list/pictures__list.css);
@import url(../blocks/pictures/__back/pictures__back.css);
@import url(../blocks/pictures/__title/pictures__title.css);
@import url(../blocks/pictures/__like/pictures__like.css);
@import url(../blocks/pictures/__like/_active/pictures__like-active.css);
@import url(../blocks/pictures/__trash/pictures__trash.css);
@import url(../blocks/pictures/__cover/pictures__cover.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__input/popup__input.css);

@import url(../blocks/popup/__form/popup__form.css);

