.pictures__cover {
  align-items: center;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    margin-top: 25px;
    width: 282px;

}
