.pictures__cover {
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  margin: 14px 15px 26px 21px;
  padding-top: 10px;
}
