.input {
  display: flex;
  flex-direction: column;
}

.input-button {
  background-color: #000;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin-bottom: 36px;
    min-height: 50px;
    outline: none;
    transition: .2s;
    width: 100%;
    margin-top: 48px;
}
